<div>
  <form [formGroup]="sensorForm" (ngSubmit)="onSubmit()" class="sensor-form">

    <!-- <mat-form-field class="sensor-field">
      <mat-label>Sensor Id</mat-label>
      <input matInput formControlName="idString">
    </mat-form-field>
    <mat-form-field class="sensor-field">
      <mat-label>Sensor Name</mat-label>
      <input matInput formControlName="sensorName">
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button type="submit" mat-raised-button [disabled]="!sensorForm.valid">Save</button>
    </mat-dialog-actions> -->
  </form>
</div>
