<div *ngIf="true">
  <button (click)="loadSensors()">Load</button>
</div>
<div class="table-container">
  <kendo-grid [kendoGridBinding]="sensors" [sortable]="true" [groupable]="false" [filterable]="false">
    <kendo-grid-column field="sensorName" title="Sensor Name"></kendo-grid-column>
    <kendo-grid-column field="type" title="Type"></kendo-grid-column>
    <kendo-grid-column field="client" title="Client"></kendo-grid-column>
    <kendo-grid-column [width]="80">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton (click)="editSensor(dataItem)"><span class="k-icon k-i-edit"></span></button>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [width]="80">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton (click)="deleteSensor(dataItem)"><span class="k-icon k-i-delete"></span></button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

</div>
